.dlt{ display: none;}
ul.list-group{
    min-height: 100px;
    *border: 2px solid skyblue;
    border-radius: 4px;
}
.class_b{
    *position: fixed !important;
    *right: 0;
    *top: -10;
}
.class_a section{
	background: none;
}
.hide_u, .hide_u_sb{
	background-color: #d9edf7;
    border: 1px solid #ccc;
    display: none;    
    position: absolute;
    right: 20px;    
    z-index: 99999;
}
.sm{ position: relative; }
span{
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    tansition-property: transform;
}
.section1{
    height: auto !important;
/*     padding: 0px !important; */
}
.class_b.col-md-4.sticky{
    position: fixed;
    right: 88px;
    width: 29%;
    top: 0px;
}
.section1{
    background: none !important;
    padding: 0px !important
}